div.Notifications {
  padding: 12px;
  border: 1px dashed var(--holberton-red);
  max-width: 40%;
  align-self: flex-end;
}

.hidden {
  display: none;
}

div.menuItem {
  align-self: flex-end;
}

li.priority-urgent {
  color: var(--holberton-red);
}

li.priority-default {
  color: var(--default-blue);
}
