.App-header {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: var(--holberton-red);
  border-bottom: 3px solid var(--holberton-red);
}

.App-header h1 {
  flex-grow: 1;
}

.App-logo {
  flex-grow: 0;
  pointer-events: none;
  height: 200px;
  width: auto;
}
